* {
  font-family: KHDS-Regular, system-ui, AppleSDGothicNeo-Regular, 맑은 고딕,
    Malgun Gothic, 돋움, dotum, sans-serif;
}
.area_postingPage {
  margin: 50px auto 40px;
  font-size: 12px;
  box-sizing: border-box;
  word-wrap: break-word;
  float: flex;
}
.area_posting_img {
  margin-left: 10px;
  margin-bottom: 30px;
  width: 70%;
  justify-content: center;
  text-align: center;
  background-color: #eee;
  border-radius: 7px;
}
.login_btn_insertTL{
  display: block;
  width: 45%;
  height: 50px;
  border-radius: 4px;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 51px;
  color: #191919;
  background-color: #ffe900;
  cursor: pointer;   
  margin-left: 15px;
}
.login_btn_insertTL:hover{
  background-color: #ffe000;
}
.area_btn_insertTL{
  padding-top: 40px;
  text-align: center;
  display: flex;
}
.area_posting_content {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  width: 70%;
  border-radius: 7px;
  background-color: #eee;
}
.posting_content {
  width: 100%;
  background-color: #eee;
  border: none;
  margin: 5px;
  border-radius: 7px;
  height: 200px;
  outline: none;
  white-space: normal;
}
.area_posting_follow_wrap {
  float: right;
  margin-right: 10px;
  background-color: #eee;
  border-radius: 7px;
  width: 24%;
}
.area_posting_follow {
  display: flex;
  cursor: pointer;
}
.area_posting_following {
  margin-left: 5px;
  display: flex;
  flex: auto;
  cursor: pointer;
}
.area_posting_profil {
  width: 26px !important;
  height: 26px !important;
  margin: 6px 5px 5px 5px;
}
.area_posting_follow_search {
  text-align: center;
}
.area_posting_tag {
  margin-left: 10px;
  margin-bottom: 30px;
  width: 70%;
  justify-content: center;
  text-align: center;
  background-color: #eee;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
}
.posting_follow_search {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid white;
  border-radius: 7px;
  outline: none;
  background-color: #eee;
  font-size: 10px;
}
.posting_follow {
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}
.posting_img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
}
.upload_img {
  display: none;
}
.upload_img_label {
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.upload_name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 0px;
  width: 78%;
  color: #999999;
  outline: none;
}
.preview_img {
  width: 100%;
  object-fit: contain;
}
