.screen_out{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
  }
  .group_page{
    padding-top: 89px;
    box-sizing: border-box;
  }
  .article{
    height: 100%;
  }
  .type_around{
    padding: 21px 16px 20px;
  }
  .page_home{
    padding: 0 16px 16px;
    background-color: #eee;  
  }
  .area_home{
    position: relative;
    margin-top: 16px;
  }
  .area_home.type_top{
    margin:0 -16px;
    padding: 24px 16px 14px;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
  }
   /*****************************************/
 