.app_bar{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 44px;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    font-family:  KHDS-Regular,system-ui,AppleSDGothicNeo-Regular,맑은 고딕,Malgun Gothic,돋움,dotum,sans-serif;
  }
  .app_bar_login{
    position: absolute;
    font-weight: bold;
    top: 25%;
    right: 8px;
  }
  .logo{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 98px;
    font-weight: 400;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
  }
  .link_logo{
    display: inline-block;
    margin: 0 auto;
    font-size: 40px;
  }
  .invisible_loginbox{
    visibility: hidden;
    position: absolute;
    top: 25%;
    right: 8px;
  }
  .invisible_mybox{
    position: absolute;
    visibility: hidden;
  }
  .visible_mybox{
    position: absolute;
    top: 25%;
    right: 8px;
  }
  .visible_mybox li{
    float: none;
  }
  .area_navbar_profil{
    width: 28px!important;
    height: 28px!important;
    margin-right: 12px;
  }
  .area_navbar_profil_id{
    display: flex;
    align-items: center;
    align-content: center;
  }
.area_navbar_dropdown{
  font-size: 14px;
  display: block;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  margin: 10px 0px 10px 5px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: visible;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  
}
 .area_navbar_dropdown.active{
  z-index: 1001;
  top:25px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
 } 
  /*********************************************/
  .nav_bar{
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 999;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
  }
  .list_nav{
    height: 44px;
    line-height: 44px;
    margin: 0 16px;
    display: flex;
  }
  .list_nav:after{
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    z-index: -1;
    height: 1px;
    background-color: #000;
    opacity: .1;
    content: "";
  }
  .list_nav li{
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 100%;
    text-align: center;
  }
  .link_list_nav{
    display: block;
    height: 100%;
    text-align: center;
  }
  .link_list_nav:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    content:"";
  }